body{
	margin: 30px;
	padding-left: 60px;	
	-webkit-animation: color 10s linear 3s infinite alternate;
}
@-webkit-keyframes color {
    0%   {background-color: oldlace;
	}
	25%{
		background-color: burlywood;
	}
	50%{
		background-color: teal;
	}
	75%{
		background-color: steelblue;
	}
	100% {
		background-color: darkslateblue;
	}
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding-top: 30%;
}
#title1{
	top: 15%;
	width: 600px;
	margin: 0px;
	position: absolute;
}
#title3{
	top: 50%;
	left: 50%;
	width:800px;
	margin: 0px;
	position: absolute;
}

h1{font-size: 220px; 
	font-family: Futura, sans-serif;
	margin: 0px;
}


img{
	width:270px;
	height: 270px; 
	max-width: 100%;
	border-radius: 50%;
}
.wrap1{
	top:15%;
	left: 53%;
	height:300px;
	position: absolute;
}
.first{
	width:270px;
	height: 270px;
	margin: 0px;
    position: absolute;}
.second{
	width:270px;
	height: 270px;
	margin: 0px;
	left: 330px;
    position: absolute;}


.wrap2{
	height:300px;
	top: 50%;
	position: absolute;
}
.third{
	width:270px;
	height: 270px;
	margin: 0px;
    position: absolute;}
.fourth{
	width:270px;
	height: 270px;
	margin: 0px;
	left: 330px;
    position: absolute;}

.overlay1 {
	width:270px;
	height: 270px; 
	border-radius: 50%;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 0px;
  text-align: center;
}
.overlay2 {
	width:270px;
	height: 270px; 
	border-radius: 50%;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 0px;
  text-align: center;
}
.overlay3 {
	width:270px;
	height: 270px; 
	border-radius: 50%;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 0px;
  text-align: center;
}
.overlay4 {
	width:270px;
	height: 270px; 
	border-radius: 50%;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 0px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.first:hover .overlay1 {
  opacity: 1;
}
.second:hover .overlay2 {
  opacity: 1;
}
.third:hover .overlay3 {
  opacity: 1;
}
.fourth:hover .overlay4 {
  opacity: 1;
}
