.menu{
	width: 150px;
	height: 100%;
	left: 0%;
	top:0%;
	position: absolute;
	background-color: ivory;
	-webkit-animation: color 10s linear 3s infinite alternate;
	display: fixed;
}
@-webkit-keyframes color {
    0%   {background-color: ivory;
	}
	25%{
		background-color: burlywood;
	}
	50%{
		background-color: teal;
	}
	75%{
		background-color: steelblue;
	}
	100% {
		background-color: darkslateblue;
	}
}

h1{
	font-family: 'Open Sans', sans-serif;
	background-color: black;
	color:white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-top: 0;
}
h3{
	font-family: 'Open Sans', sans-serif;
	padding-left: 20px;
	color: black;
}

.img{
	left: 18%;
	padding-left: 50px;
	padding-top: 100px;
	position: absolute;
}
img{
	width: 500px;
}

.text{
	left:57%;
	padding-top: 100px;
	position: absolute;
	width: 500px;
}
h4{
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
p{
	color: black;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
